%flex {
    display: flex;
    flex-wrap: wrap;
}

%flex-middle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

%flex-auto {
    flex: 1;
}

$col: 1;
@while $col !=13 {
    %flex-#{$col} {
        @include flex-width( 100 / ( 12 / $col)+%);
    }
    $col: $col+1;
}

@include breakpoint(sm) {
    $col: 1;
    @while $col !=13 {
        %flex-sm-#{$col} {
            @include flex-width( 100 / ( 12 / $col)+%);
        }
        $col: $col+1;
    }
}

@include breakpoint(md) {
    $col: 1;
    @while $col !=13 {
        %flex-md-#{$col} {
            @include flex-width( 100 / ( 12 / $col)+%);
        }
        $col: $col+1;
    }
}

@include breakpoint(lg) {
    $col: 1;
    @while $col !=13 {
        %flex-lg-#{$col} {
            @include flex-width( 100 / ( 12 / $col)+%);
        }
        $col: $col+1;
    }
}

@include breakpoint(xl) {
    $col: 1;
    @while $col !=13 {
        %flex-xl-#{$col} {
            @include flex-width( 100 / ( 12 / $col)+%);
        }
        $col: $col+1;
    }
}