@mixin linearGradient($deg, $top, $bottom) {
    background: $top;
    background: linear-gradient($deg, $top 0%, $bottom 100%);
}

@mixin flex-width($w) {
    flex:0 0 $w;
    max-width: $w;
}

%clearit,%clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
%shadow-0{
    box-shadow: none !important;
}
%shadow-1{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
%shadow-2{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
%shadow-3{
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}
%shadow-4{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
%shadow-5{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}

$xl:1200px;
$lg:992px;
$md:768px;
$sm:576px;

$max-xl:1199px;
$max-lg:991px;
$max-md:767px;
$max-sm:575px;
@mixin breakpoint($point) {
    @if $point==xl {
        @media (min-width: 1200px) {
            @content ;
        }
    }
    @else if $point==lg {
        @media (min-width: 992px) {
            @content ;
        }
    }
    @else if $point==lgo {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content ;
        }
    }
    @else if $point==md {
        @media (min-width: 768px) {
            @content ;
        }
    }
    @else if $point==mdo {
        @media (min-width: 768px) and (max-width: 991px) {
            @content ;
        }
    }
    @else if $point==sm {
        @media (min-width: 576px) {
            @content ;
        }
    }
    @else if $point==smo {
        @media (min-width: 576px) and (max-width: 767px) {
            @content ;
        }
    }
    @else if $point==xs {
        @media (max-width: 575px) {
            @content ;
        }
    }
    @else {
        @media (max-width: $point) {
            @content ;
        }
    }
}

@mixin placeholder($color) {
    &::-webkit-input-placeholder{
        color: $color
    }
    &:-moz-placeholder{
        color: $color
    }
    &::-moz-placeholder{
        color: $color
    }
    &:-ms-input-placeholder{
        color: $color
    }
}
