$themeColor1:#002e6e;
$themeColor2:#33a34a;

$tc1:$themeColor1;
$tc2:$themeColor2;

$text-color:#373a3c;
$textc:$text-color;

$errorcolor:red;

// fonts

$font1:'Questrial', sans-serif;
$fontNormal:$font1;
$font2:'Overpass', sans-serif;
$fontHeading:$font2;

// breakpoints

$mbp:880px; // menu break point